{% extends 'groups/group_base.html' %}

{% block pregroup %}
<div class="col-md-4">
    <div class="content">
        {% if user.is_authenticated %}
            <h2>Welcome Back!
                <a href="{% url 'posts:for_user' username=user.username %}" style="text-decoration: none;">
                    @{{ user.username }}
                </a>
            </h2>
        {% endif %}
        <h2>Groups</h2>
        <p>Welcome to the groups page.</p>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'groups:create' %}" class="btn btn-md btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            Create New Group
        </a>
    {% endif %}    
</div>    
{% endblock %}

{% block group_content %}
<div class="col-md-8">
    <div class="list-group">  
        {% for group in object_list %}
            <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
                <h3 class="title list-group-item-heading">{{ group.name }}</h3>
                <div class="list-group-item-text container-fluid">
                    {{ group.description_html|safe }}
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary">
                            Members <span class="badge bg-light text-dark">{{ group.members.count }}</span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary">
                            Posts <span class="badge bg-light text-dark">{{ group.posts.count }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
    
    